.nav{
    display:flex;
    background-color: lightgray;
    flex-direction:row;
    justify-content:space-around;
    font-family: 'Varela Round', sans-serif;
    
}

.nav > div{
    background-color:rgb(235, 147, 33);
    font-size: 1em;
    margin:10px;
    padding:5px;
    color:black;
    border-radius: 15px;
}

.nav :hover {
    background-color:gray;
}

.header{
    display:flex;
    background-color: lightgray;
    flex-direction:row;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 3px 3px gray;
}

.header > div{
    background-color:lightgray;
    font-size: 3em;
    margin:25px;
    padding:10px;
    color:rgb(235, 147, 33);
}

.images{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color: white;
}

.images > div{
    background-color:lightgray;
    font-size: 1em;
    margin:9px;
    padding:43px;
    color:rgb(235, 147, 33) ;
    border-radius: 15px;
}

#headings{
    text-decoration:underline;
}

.footer{
    display:flex;
    background-color: lightgray;
    flex-direction:row;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    color:rgb(235, 147, 33);
}